*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

.box{
    margin: 10px auto;
    background-color: #F6E8EA;
    color: #84DCCF;
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.box > .box-2 span{
    display: inline-block;
    /*
    width: inherit;
    height: inherit;
    background-color: inerhit;
    */
}

.box-2{
    color: rebeccapurple    ;
    background-color: #84DCCF;
}